server:
  port: 0

spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/store
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
      dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: false